<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springstudy.springmvc.chap05.mapper.BoardMapper">

    <sql id="search">
        <if test="type == 'title'">
            where title like concat('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            where content like concat('%', #{keyword}, '%')
        </if>
        <if test="type == 'writer'">
            where writer like concat('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            where (title like concat('%', #{keyword}, '%')) or (content like concat('%', #{keyword}, '%'))
        </if>

    </sql>

    <!-- 게시물 등록 -->
    <insert id="save">
        insert into tbl_board
        (title, content, writer)
        values(#{title}, #{content}, #{writer})
    </insert>

    <!-- 게시물 삭제 -->
    <delete id="delete">
        delete
        from tbl_board
        where board_no = #{boardNo}
    </delete>

    <!-- 조회수 처리 -->
    <update id="updateViewCount">
        update tbl_board
        set view_count = view_count + 1
        where board_no = #{boardNo}
    </update>

    <!-- 목록 조회 -->
    <select id="findAll" resultType="com.study.springstudy.springmvc.chap05.dto.response.BoardDetailResponseDTO">
        select
            b.board_no, b.title, b.content,
            b.writer, b.reg_date, b.view_count,
            count(r.reply_no) as reply_count
        from tbl_board B left join tbl_reply R using(board_no)
        <include refid="search" />
        group by board_no
        order by board_no desc
        limit #{pageStart}, #{amount}
    </select>

    <!-- 상세 조회 -->
    <select id="findOne" resultType="board">
        select *
        from tbl_board
        where board_no = #{boardNo}
    </select>

    <!-- 검색 결과에 따른 글 개수 세기 (검색이 안된 상태이면 전체 글 개수 조회) -->
    <select id="getCount" resultType="int">
        select count(*)
        from tbl_board
        <include refid="search" />
    </select>
</mapper>